*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Segoe UI", system-ui;
}

body{
    height:100vh;
    background:linear-gradient(120deg,#8e5cc2,#2b7fc1);
    display:flex;
    justify-content:center;
    align-items:center;
}

/* Soft background */
.bg{
    position:absolute;
    inset:0;
    background:linear-gradient(120deg,#9b59b6,#3498db);
    filter:blur(80px);
    z-index:-1;
}

/* Main card */
.card{
    width:340px;
    background:linear-gradient(160deg,#6fc3f7,#45aaf2);
    /* border-radius:28px; */
    border-top-left-radius: 100px;
    padding:32px 26px;
    box-shadow:0 30px 60px rgba(0,0,0,.35);
    text-align:center;
}

h2{
    color:white;
    font-weight:600;
    margin-bottom:22px;
}

input{
    width:100%;
    padding:12px 14px;
    border-radius:12px;
    border:2px solid #1c1c1c;
    background:transparent;
    margin-bottom:12px;
    color:#1c1c1c;
}

input::placeholder{
    color:#2c2c2c;
}

button{
    width:100%;
    padding:12px;
    padding-bottom: 12px;
    border-radius:18px;
    border:none;
    background:#222;
    color:#3f7cff;
    font-weight:600;
    letter-spacing:1px;
    margin-top:8px;
    cursor:pointer;
}

button:hover{
    background:#111;
}

#recaptcha-container{
    margin:10px 0;
    display:flex;
    justify-content:center;
}

/* Success animation */
.success-box{
    display:none;
    margin-top:14px;
}

.checkmark{
    width:50px;
    height:50px;
    background:#22c55e;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    color:white;
    font-size:24px;
    margin:auto;
    animation:pop .5s ease;
}

@keyframes pop{
    from{transform:scale(0);}
    to{transform:scale(1);}
}

.success-box p{
    color:white;
    margin-top:8px;
    font-size:14px;
}
